.header {

    nav {
        padding: 24px;
    }

    &__logo{
        img{
            width: 8.81rem;
            height: 1.75;
        }
    }

    &__menu{
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;

            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
    }
   
    &__links {
        a{
            font-size: $font-sm;
            color: $grayishBlue;

            &:not(:last-child) {
                margin-right: 32px;
            }
        }
    }

}
