.hero {

  &__image {
    position: relative;
    background-image: url('/images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    &::before {
      content: "";
      background-image: url('/images/image-mockups.png');
      height: 100%;
      width: 100%;
      position: absolute;
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__text {
    text-align: center;
    h1 {
      font-weight: 300;
      color: $darkBlue;
      line-height: 1.5;
      font-size: 2.31rem;
    }

    p{
      line-height: 1.5rem;
      
    }
  }
}